dist/pages/member_likelist.html
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width,initial-scale=1" name="viewport">
    <title> 伍登</title>
  <script src="../js/main.js?99af2b009f69432786ab" defer></script><link href="../css/main.css?99af2b009f69432786ab" rel="stylesheet"></head>
  <body>
    <main>
      <!--<!------------------------- 這是headerStart不用理他唷！------------------------->
      <header> 
        <div class="nav">
          <h1 class="logo"><a href="../pages/index.html">伍登</a></h1>
          <ul class="nav_item">
            <li class="nav_item_title"><a href="#" class="dropdownMenuTit" aria-expanded="false" data-bs-toggle="dropdown" id="allDropdownMenu">ALL</a>
              <ul class="dropdown-menu nav_dropdown-menu" aria-labelledby="allDropdownMenu">
                <ul class="dropdownItem">
                  <li><a href="../pages/product.html" class="dropdown-item dropdownTitle">ALL</a></li>
                  <li><a href="../pages/product.html" class="dropdown-item">服飾</a></li>
                  <li><a href="../pages/product.html" class="dropdown-item">鞋子</a></li>
                  <li><a href="../pages/product.html" class="dropdown-item">包款</a></li>
                  <li><a href="../pages/product.html" class="dropdown-item">配件</a></li>
                  <li><a href="../pages/product.html" class="dropdown-item">SALE</a></li>
                  <li class="dropdownMenuImg"><img src="../assets/product/product13.jpg" alt></li>
                </ul>
              </ul>
            </li>
            <li class="nav_item_title"><a href="#" class="dropdownMenuTit" aria-expanded="false" data-bs-toggle="dropdown" id="newDropdownMenu">新品</a>
              <ul class="dropdown-menu nav_dropdown-menu" aria-labelledby="newDropdownMenu">
                <ul class="dropdownItem">
                  <li><a href="../pages/product.htm" class="dropdown-item dropdownTitle">新品</a></li>
                  <li><a href="../pages/product.html" class="dropdown-item">服飾</a></li>
                  <li><a href="../pages/product.html" class="dropdown-item">鞋子</a></li>
                  <li><a href="../pages/product.html" class="dropdown-item">包款</a></li>
                  <li><a href="../pages/product.html" class="dropdown-item">配件</a></li>
                  <li><a href="../pages/product.html" class="dropdown-item">SALE</a></li>
                  <li class="dropdownMenuImg"><img src="../assets/product/product14.png" alt></li>
                </ul>
              </ul>
            </li>
            <li class="nav_item_title"><a href="#" class="dropdownMenuTit" aria-expanded="false" data-bs-toggle="dropdown" id="SALEDropdownMenu">SALE</a>
              <ul class="dropdown-menu nav_dropdown-menu" aria-labelledby="SALEDropdownMenu">
                <ul class="dropdownItem">
                  <li><a href="#" class="dropdown-item dropdownTitle">SALE</a></li>
                  <li><a href="../pages/product.html" class="dropdown-item">服飾</a></li>
                  <li><a href="../pages/product.html" class="dropdown-item">鞋子</a></li>
                  <li><a href="../pages/product.html" class="dropdown-item">包款</a></li>
                  <li><a href="../pages/product.html" class="dropdown-item">配件</a></li>
                  <li><a href="../pages/product.html" class="dropdown-item">SALE</a></li>
                  <li class="dropdownMenuImg"><img src="../assets/product/product12.jpg" alt></li>
                </ul>
              </ul>
            </li>
            <li class="nav_item_title"><a href="#" class="dropdownMenuTit" aria-expanded="false" data-bs-toggle="dropdown" id="apparelDropdownMenu">服飾</a>
              <ul class="dropdown-menu nav_dropdown-menu" aria-labelledby="apparelDropdownMenu">
                <ul class="dropdownItem">
                  <li><a href="../pages/product.html" class="dropdown-item dropdownTitle">服飾</a></li>
                  <li><a href="../pages/product.html" class="dropdown-item">服飾</a></li>
                  <li><a href="../pages/product.html" class="dropdown-item">鞋子</a></li>
                  <li><a href="../pages/product.html" class="dropdown-item">包款</a></li>
                  <li><a href="../pages/product.html" class="dropdown-item">配件</a></li>
                  <li><a href="../pages/product.html" class="dropdown-item">SALE</a></li>
                  <li class="dropdownMenuImg"><img src="../assets/product/product12.jpg" alt></li>
                </ul>
              </ul>
            </li>
            <li class="nav_item_title"><a href="#" class="dropdownMenuTit" aria-expanded="false" data-bs-toggle="dropdown" id="shoeDropdownMenu">鞋子</a>
              <ul class="dropdown-menu nav_dropdown-menu" aria-labelledby="shoeDropdownMenu">
                <ul class="dropdownItem">
                  <li><a href="../pages/product.html" class="dropdown-item dropdownTitle">鞋子</a></li>
                  <li><a href="../pages/product.html" class="dropdown-item">服飾</a></li>
                  <li><a href="../pages/product.html" class="dropdown-item">鞋子</a></li>
                  <li><a href="../pages/product.html" class="dropdown-item">包款</a></li>
                  <li><a href="../pages/product.html" class="dropdown-item">配件</a></li>
                  <li><a href="../pages/product.html" class="dropdown-item">SALE</a></li>
                  <li class="dropdownMenuImg"><img src="../assets/product/product7.jpg" alt></li>
                </ul>
              </ul>
            </li>
            <li class="nav_item_title"><a href="#" class="fs18 fwMedium dropdownMenuTit" aria-expanded="false" data-bs-toggle="dropdown" id="bagDropdownMenu">包款</a>
              <ul class="dropdown-menu nav_dropdown-menu" aria-labelledby="bagDropdownMenu">
                <ul class="dropdownItem">
                  <li><a href="../pages/product.html" class="dropdown-item fs16 dropdownTitle">包款</a></li>
                  <li><a href="../pages/product.html" class="dropdown-item">服飾</a></li>
                  <li><a href="../pages/product.html" class="dropdown-item">鞋子</a></li>
                  <li><a href="../pages/product.html" class="dropdown-item">包款</a></li>
                  <li><a href="../pages/product.html" class="dropdown-item">配件</a></li>
                  <li><a href="../pages/product.html" class="dropdown-item">SALE</a></li>
                  <li class="dropdownMenuImg"><img src="../assets/product/product11.jpg" alt></li>
                </ul>
              </ul>
            </li>
            <li class="nav_item_title"><a href="#" class="dropdownMenuTit" aria-expanded="false" data-bs-toggle="dropdown" id="bagDropdownMenu">配件</a>
              <ul class="dropdown-menu nav_dropdown-menu" aria-labelledby="bagDropdownMenu">
                <ul class="dropdownItem">
                  <li><a href="../pages/product.html" class="dropdown-item dropdownTitle">配件</a></li>
                  <li><a href="../pages/product.html" class="dropdown-item">服飾</a></li>
                  <li><a href="../pages/product.html" class="dropdown-item">鞋子</a></li>
                  <li><a href="../pages/product.html" class="dropdown-item">包款</a></li>
                  <li><a href="../pages/product.html" class="dropdown-item">配件</a></li>
                  <li><a href="../pages/product.html" class="dropdown-item">SALE</a></li>
                  <li class="dropdownMenuImg"><img src="../assets/product/product12.jpg" alt></li>
                </ul>
              </ul>
            </li>
            <li class="nav_item_title"><a href="#" class="dropdownMenuTit" aria-expanded="false" data-bs-toggle="dropdown" id="brandDropdownMenu">品牌</a>
              <ul class="dropdown-menu nav_dropdown-menu" aria-labelledby="brandDropdownMenu">
                <ul class="dropdownItem">
                  <li><a href="../pages/product.html" class="dropdown-item dropdownTitle">品牌</a></li>
                  <li><a href="../pages/product.html" class="dropdown-item">服飾</a></li>
                  <li><a href="../pages/product.html" class="dropdown-item">鞋子</a></li>
                  <li><a href="../pages/product.html" class="dropdown-item">包款</a></li>
                  <li><a href="../pages/product.html" class="dropdown-item">配件</a></li>
                  <li><a href="../pages/product.html" class="dropdown-item">SALE</a></li>
                  <li class="dropdownMenuImg"><img src="../assets/product/product12.jpg" alt></li>
                </ul>
              </ul>
            </li>
          </ul>
          <ul class="nav_iconGroup">
            <li class="col-3 searchWrap"><a href="#" data-bs-toggle="offcanvas" aria-controls="offcanvasTop" data-bs-target="#offcanvasTop"><i class="bi bi-search"> </i></a>
              <div class="offcanvas offcanvas-top" id="offcanvasTop" aria-labelledby="offcanvasTopLabel" tabindex="-1">
                <div class="offcanvas-body">
                  <button class="btn-close text-reset searchX" aria-label="Close" data-bs-dismiss="offcanvas" type="button"></button>
                  <p>需要協助您搜索什麼嗎?</p>
                  <input class="searchInput form-control" placeholder="搜尋商品....." type="text">
                </div>
              </div>
            </li>
            <li class="col-3">
              <div class="user-dropdown"><span aria-expanded="false" data-bs-toggle="dropdown" id="user-dropdown"><i class="bi bi-person">  </i></span>
                <ul class="dropdown-menu user-dropdown-wrap" aria-labelledby="user-dropdown">
                  <li class="user-dropdown-tit">登出<a href="../pages/member_login.html"> </a></li>
                  <li class="user-dropdown-item"> <a href="../pages/member_info.html">我的帳戶:一般會員</a></li>
                  <li class="user-dropdown-item"><a href="../pages/member_points.html">會員點數</a></li>
                  <li class="user-dropdown-item"><a href="../pages/member_voucher.html">我的優惠券</a></li>
                  <li class="user-dropdown-item"><a href="../pages/cart_detail.html">我的購物車</a></li>
                  <li class="user-dropdown-item"><a href="../pages/member_order.html">我的訂單</a></li>
                  <li class="user-dropdown-item"><a href="../pages/member_likelist.html">喜愛清單 </a></li>
                </ul>
              </div>
            </li>
            <li class="col-3"><a href="../pages/member_likelist.html" class="numRelative"><i class="bi bi-heart"></i><span class="loveNum">3</span></a></li>
            <li class="col-3">
              <div class="min-cart"><span aria-expanded="false" data-bs-toggle="dropdown" id="min-cart"><a href="../pages/cart_detail.html" class="numRelative"> <i class="bi bi-cart4"></i><span class="cartNum">2   </span></a></span>
                <ul class="dropdown-menu min-cart-wrap" aria-labelledby="min-cart">
                  <li class="min-cart-tit"> 購物車有5件商品</li>
                  <li class="min-cart-item"> 
                    <div class="min-cart-pic"><a href="../pages/productdetail.html"><img src="../assets/product/product11.jpg" class="shoppingListPic"></a></div>
                    <div class="min-cart-txt"> <a href="../pages/productdetail.html"> 
                        <p class="brandTit">adidas<br></p>
                        <p>克里夫蘭感恩紀念T</p>
                        <p>M-紅色</p>
                        <p class="min-cart-txt-price">1 * NT$900</p></a></div>
                  </li>
                  <li class="min-cart-item"> 
                    <div class="min-cart-pic"><a href="../pages/productdetail.html"><img src="../assets/product/product11.jpg" class="shoppingListPic"></a></div>
                    <div class="min-cart-txt"> <a href="../pages/productdetail.html"> 
                        <p class="brandTit">adidas<br></p>
                        <p>克里夫蘭感恩紀念T</p>
                        <p>M-紅色</p>
                        <p class="min-cart-txt-price">1 * NT$900</p></a></div>
                  </li>
                  <li class="min-cart-txt-footer">
                    <p class="min-cart-price">總計NT$4,999</p>
                    <button class="btn min-cart-btn"><a href="../pages/cart_detail.html">前往結賬      </a></button>
                  </li>
                </ul>
              </div>
            </li>
          </ul>
          <ul class="phoneIconGroup">
            <li class="searchWrap"><a data-bs-toggle="offcanvas" aria-controls="offcanvasTop" data-bs-target="#offcanvasTop2"><i class="bi bi-search"> </i></a>
              <div class="offcanvas offcanvas-top offcanvasTop2" id="offcanvasTop2" aria-labelledby="offcanvasTopLabel" tabindex="-1">
                <div class="offcanvas-body">
                  <button class="btn-close text-reset searchX" aria-label="Close" data-bs-dismiss="offcanvas" type="button"></button>
                  <p>需要協助您搜索什麼嗎?</p>
                  <input class="searchInput form-control" placeholder="搜尋商品....." type="text">
                </div>
              </div>
            </li>
            <li><a href="#" class="btn-open"><i class="bi bi-justify"></i></a></li>
          </ul>
        </div>
      </header>
      <div class="zeynep-overlay"></div>
      <div class="zeynep">
        <ul>
          <li><a href="../pages/product.html">ALL</a></li>
          <li class="has-submenu"><a href="#" data-submenu="newProduct">新品</a>
            <div class="submenu" id="newProduct">
              <div class="submenu-header"><a href="#" data-submenu-close="newProduct">返回</a></div>
              <label>新品</label>
              <ul>
                <li><a href="../pages/product.html">短袖</a></li>
                <li><a href="../pages/product.html">長袖</a></li>
                <li><a href="../pages/product.html">背心</a></li>
                <li><a href="../pages/product.html">帽Ｔ</a></li>
                <li><a href="../pages/product.html">短褲</a></li>
                <li><a href="../pages/product.html">長褲</a></li>
                <li><a href="../pages/product.html">外套</a></li>
                <li><a href="../pages/product.html">內褲</a></li>
              </ul>
            </div>
          </li>
          <li><a href="../pages/product.html">SALE</a></li>
          <li class="has-submenu"><a href="#" data-submenu="apparel">服飾</a>
            <div class="submenu" id="apparel">
              <div class="submenu-header"><a href="#" data-submenu-close="apparel">返回</a></div>
              <label>服飾</label>
              <ul>
                <li><a href="../pages/product.html">短袖</a></li>
                <li><a href="../pages/product.html">長袖</a></li>
                <li><a href="../pages/product.html">背心</a></li>
                <li><a href="../pages/product.html">帽Ｔ</a></li>
                <li><a href="../pages/product.html">短褲</a></li>
                <li><a href="../pages/product.html">長褲</a></li>
                <li><a href="../pages/product.html">外套</a></li>
                <li><a href="../pages/product.html">內褲</a></li>
              </ul>
            </div>
          </li>
          <li class="has-submenu"><a href="#" data-submenu="Sneakers">鞋子</a>
            <div class="submenu" id="Sneakers">
              <div class="submenu-header"><a href="#" data-submenu-close="Sneakers">返回</a></div>
              <label>鞋子</label>
              <ul>
                <li><a href="../pages/product.html">靴子</a></li>
                <li><a href="../pages/product.html">布鞋</a></li>
              </ul>
            </div>
          </li>
          <li class="has-submenu"><a href="#" data-submenu="bag">包款</a>
            <div class="submenu" id="bag">
              <div class="submenu-header"><a href="#" data-submenu-close="bag">返回</a></div>
              <label>包款</label>
              <ul>
                <li><a href="../pages/product.html">側背包</a></li>
              </ul>
            </div>
          </li>
          <li class="has-submenu"><a href="#" data-submenu="accessories">配件</a>
            <div class="submenu" id="accessories">
              <div class="submenu-header"><a href="#" data-submenu-close="accessories">返回</a></div>
              <label>配件</label>
              <ul>
                <li><a href="../pages/product.html">手環</a></li>
                <li><a href="../pages/product.html">帽子</a></li>
              </ul>
            </div>
          </li>
          <li class="has-submenu"><a href="#" data-submenu="brand">品牌</a>
            <div class="submenu" id="brand">
              <div class="submenu-header"><a href="#" data-submenu-close="brand">返回</a></div>
              <label>品牌</label>
              <ul>
                <li><a href="../pages/product.html">nike</a></li>
                <li><a href="../pages/product.html">puma</a></li>
              </ul>
            </div>
          </li>
          <li class="borderTop"><a href="../pages/member_login.html">會員登入</a></li>
          <li class="borderBottom"><a href="../pages/member_join.html">會員註冊</a></li>
          <li class="has-submenu"><a href="#" data-submenu="about">關於OH.YA.CLUBE</a>
            <div class="submenu" id="about">
              <div class="submenu-header"><a href="#" data-submenu-close="about">返回</a></div>
              <label>關於</label>
              <ul>
                <li><a href="../pages/about_hotStory.html">最新消息</a></li>
                <li><a href="../pages/about_aboutUs.html">關於我們</a></li>
                <li><a href="../pages/about_contactUs.html">聯絡我們</a></li>
              </ul>
            </div>
          </li>
          <li class="has-submenu"><a href="#" data-submenu="service">顧客服務</a>
            <div class="submenu" id="service">
              <div class="submenu-header"><a href="#" data-submenu-close="service">返回</a></div>
              <label>顧客服務</label>
              <ul>
                <li><a href="../pages/service_memberRule.html">會員制度</a></li>
                <li><a href="../pages/service_shoppingNotice.html">購物須知</a></li>
                <li><a href="../pages/service_faq.html">常見問題</a></li>
                <li><a href="../pages/service_privacyPolicy.html">隱私政策</a></li>
              </ul>
            </div>
          </li>
          <li class="sociolIcon"> <a href="https://www.instagram.com/oh.ya.club/"><img src="../assets/icon/instagramBlack.png" alt></a><a href="https://www.facebook.com/OHYACLUB/"><img src="../assets/icon/FacebookBlack.png" alt></a></li>
        </ul>
      </div>
      <!--    <!------------------------- 這是headerEnd不用理他唷！-------------------------->
      <div class="memberAreaContent">
        <!-- <!------------------------- 這是麵包屑！--------------------------->
        <nav aria-label="breadcrumb" class="breadcrumb-wrap">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="../pages/index.html">首頁</a></li>
            <li class="breadcrumb-item"><a href="../pages/service_memberRule.html">會員專區</a></li>
            <li class="breadcrumb-item active" aria-current="page">會員點數</li>
          </ol>
        </nav>
        <!--<!------------------------- 這是上方導覽列不用理他唷！當前頁面時＋上class名稱.memberBtnActive--------------------------->
        <div class="col-lg-10 col-12 memberSwitchBtn">
          <div class="memberBtn"><a href="../pages/member_info.html">個人資訊</a></div>
          <div class="memberBtn"><a href="../pages/member_points.html">會員點數</a></div>
          <div class="memberBtn"><a href="../pages/member_voucher.html">優惠券</a></div>
          <div class="memberBtn"><a href="../pages/member_order.html">我的訂單</a></div>
          <div class="memberBtn memberBtnActive"><a href="../pages/member_likelist.html">喜愛清單</a></div>
        </div>
        <div class="member-areaWrap">
          <!--<!------------------------- 這是購物車標題不用理他唷！--------------------------->
          <div class="col-lg-12 col-12 PointBigTitle pb-3">
            <p class="carDetailTitle">喜愛清單</p>
          </div>
          <div class="col-lg-12 col-12">
            <ul class="myProductList col-lg-12">
              <li class="col-12 myProductListTitle"><span class="col-12 phonemyProductListListTitle">商品資訊</span><span class="col-12 webmyProductListListTitle">
                  <div class="col-lg-2 webmyProductListListTitle"></div>
                  <div class="col-lg-8 webmyProductListListTitle">
                    <div class="col-lg-3">商品</div>
                    <div class="col-lg-2">規格</div>
                    <div class="col-lg-2">單價</div>
                    <div class="col-lg-2">數量</div>
                    <div class="col-lg-2">總計</div>
                  </div>
                  <div class="col-lg-2 webmyProductListListTitle"></div></span></li>
            </ul>
            <!--<!------------------------- 這是宣染內容！--------------------------->
            <ul class="myProductList col-lg-12 vueTemplate">
              <li class="col-12 myProductListItem" v-for="(item,index) in listData">
                <div class="col-lg-2 col-md-2 col-3 myProductListItemPic"><a href="../pages/productdetail.html"><img src="../assets/product/product11.jpg" class="shoppingListPic"></a></div>
                <div class="col-lg-8 col-md-8 col-5 myProductListItemDetaile">
                  <div class="col-lg-3 col-12"><a href="../pages/productdetail.html"> 
                      <p class="brandTit">adidas<br></p>
                      <p>克里夫蘭感恩紀念T</p></a></div>
                  <div class="col-lg-2 col-12">{{item.size}}-{{item.color}}</div>
                  <div class="col-lg-2 col-12">NT$ {{item.price}}</div>
                  <div class="col-lg-2 col-12"><span class="countBtn" @click="handleSub(item)"><i class="bi bi-dash-circle"></i></span><span class="num">{{item.num}}</span><span class="countBtn" @click="handlePlus(item)"> <i class="bi bi-plus-circle"></i></span></div>
                  <div class="col-lg-2 col-md-2 col-12 myProductListTotal">NT$ {{item.price * item.num}}</div>
                </div>
                <div class="col-lg-2 col-4"><a href="#" class="btn likePageBtn addBtn">加入購物車</a><a href="#" class="btn likePageBtn deleteBtn" @click="handledelete(index)">刪除</a></div>
              </li>
            </ul>
          </div>
          <!--<!------------------------- 這是頁面點選！--------------------------->
          <div class="clickPageWrap col-12 pe-4">
            <nav aria-label="Page navigation example" class="clickPage">
              <ul class="pagination">
                <li class="page-item"><a href="#" class="page-link" aria-label="Previous"><span aria-hidden="true">«</span></a></li>
                <li class="page-item"><a href="#" class="page-link">1</a></li>
                <li class="page-item"><a href="#" class="page-link">2</a></li>
                <li class="page-item"><a href="#" class="page-link">3</a></li>
                <li class="page-item"><a href="#" class="page-link" aria-label="Next"><span aria-hidden="true">»                   </span></a></li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
      <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14"></script>
      <script>
           new Vue({
               el: '.vueTemplate',
               data(){
                   return{
                       listData: [{
                       pic: '../../../assets/product/product11.jpg',
                       productName: '克里夫蘭感恩紀念T',
                       size: 'M',
                       color: '紅色',
                       price: '680',
                       num: '2',
                   }, {
                       pic: '../../../assets/product/product12.jpg',
                       productName: '帥氣t',
                       size: 'L',
                       color: '藍色',
                       price: '880',
                       num: '3',
                   }]
                   }
               },
               methods: {
                   //讓他可以被加1
                   handlePlus: function (item) {
                       item.num++;
                   },
                   //讓他大於1時可以被減少
                   handleSub: function (item) {
                       if (item.num > 1) {
                           item.num--;
                       }
                   },
                   //讓他可以刪除
                   handledelete: function (index) {
                       this.listData.splice(index, 1);
                   }
               }
           })
        //click btn alert
           let add = document.getElementsByClassName('addBtn');
           Object.keys(add).forEach((key) => {
               let target = add[key];
               target.addEventListener('click', () => {
                  swal("你已加入購物車", "Add to cart thank!!", "success");
               })
           })
        
           let del = document.getElementsByClassName('deleteBtn');
           Object.keys(del).forEach((key) => {
               let target = del[key];
               target.addEventListener('click', () => {
                  swal("你已刪除商品", "You have deleted the product thank!!", "success");
               })
           })
      </script>
      <!-- <!------------------------- 這是footer不用理他唷！--------------------------->
      <footer class="col-lg-12">
        <div class="col-lg-8"> 
          <ul class="navFirst">
            <li><a href="../pages/service_memberRule.html">會員制度</a></li>
            <li><a href="../pages/service_shoppingNotice.html">購物須知</a></li>
            <li><a href="../pages/service_faq.html">常見問題</a></li>
            <li><a href="../pages/service_privacyPolicy.html">隱私政策</a></li>
          </ul>
          <ul class="navSecond">
            <li><a href="../pages/about_hotStory.html">最新消息</a></li>
            <li><a href="../pages/about_aboutUs.html">關於我們</a></li>
            <li><a href="../pages/about_contactUs.html">聯絡我們</a></li>
          </ul>
          <p class="navCopy">Copyright © OH.YA.CLUB 2021 All rights reserved.</p>
        </div>
        <div class="col-lg-3">
          <ul class="navSociol">
            <li><a href="https://www.instagram.com/oh.ya.club/"><img src="../assets/icon/Instagram.png" alt></a></li>
            <li><a href="https://www.facebook.com/OHYACLUB/"><img src="../assets/icon/Facebook.png" alt></a></li>
          </ul>
        </div><a href="#"> <img src="../assets/icon/pageUp.png" alt="" class="top"></a>
      </footer>
      <div class="col-12 placeholderBox"></div>
      <div class="col-12 phoneFooter">
        <div class="col-2 phoneFooterItem"><a href="../pages/product.html"><img src="../assets/icon/hotjar-brands.svg" alt="">
            <p>熱賣商品</p></a></div>
        <div class="col-2 phoneFooterItem"><a href="../pages/member_likelist.html"><img src="../assets/icon/heart-solid.svg" alt="" class="loveIcon">
            <p>喜愛商品</p></a></div>
        <div class="col-2 phoneFooterItem"><a href="../pages/index.html"><img src="../assets/icon/home-solid.svg" alt="" class="homeIcon">
            <p>首頁</p></a></div>
        <div class="col-2 phoneFooterItem"><a href="../pages/cart_detail.html"><img src="../assets/icon/shopping-cart-solid.svg" alt="">
            <p>購物車</p></a></div>
        <div class="col-2 phoneFooterItem"><a href="../pages/member_info.html"><img src="../assets/icon/user-solid.svg" alt="">
            <p>我的帳戶</p></a></div>
      </div>
    </main>
  </body>
</html>

src/pug/pages/member_likelist.pug
extends ../layout/layout.pug

block view 
    .memberAreaContent
        // <!------------------------- 這是麵包屑！-------------------------
        nav.breadcrumb-wrap(aria-label="breadcrumb")
            ol.breadcrumb
                li.breadcrumb-item
                    a(href="../pages/index.html") 首頁
                li.breadcrumb-item
                    a(href="../pages/service_memberRule.html") 會員專區
                li.breadcrumb-item.active(aria-current="page") 會員點數
        //<!------------------------- 這是上方導覽列不用理他唷！當前頁面時＋上class名稱.memberBtnActive-------------------------
        .col-lg-10.col-12.memberSwitchBtn
            .memberBtn
                a(href="../pages/member_info.html") 個人資訊
            .memberBtn
                a(href="../pages/member_points.html") 會員點數
            .memberBtn
                a(href="../pages/member_voucher.html") 優惠券
            .memberBtn
                a(href="../pages/member_order.html") 我的訂單
            .memberBtn.memberBtnActive
                a(href="../pages/member_likelist.html") 喜愛清單
        .member-areaWrap
            //<!------------------------- 這是購物車標題不用理他唷！-------------------------
            .col-lg-12.col-12.PointBigTitle.pb-3
                p.carDetailTitle 喜愛清單
            .col-lg-12.col-12
                ul.myProductList.col-lg-12
                    li.col-12.myProductListTitle
                        span.col-12.phonemyProductListListTitle 商品資訊
                        span.col-12.webmyProductListListTitle
                            .col-lg-2.webmyProductListListTitle
                            .col-lg-8.webmyProductListListTitle
                                .col-lg-3 商品
                                .col-lg-2 規格
                                .col-lg-2 單價
                                .col-lg-2 數量
                                .col-lg-2 總計
                            .col-lg-2.webmyProductListListTitle
                //<!------------------------- 這是宣染內容！-------------------------
                ul.myProductList.col-lg-12.vueTemplate
                    li.col-12.myProductListItem(v-for="(item,index) in listData")
                        .col-lg-2.col-md-2.col-3.myProductListItemPic
                            a(href="../pages/productdetail.html")
                                img.shoppingListPic(src="../../assets/product/product11.jpg")
                        .col-lg-8.col-md-8.col-5.myProductListItemDetaile
                            .col-lg-3.col-12
                                a(href="../pages/productdetail.html") 
                                    p.brandTit adidas</br>
                                    p 克里夫蘭感恩紀念T
                            .col-lg-2.col-12 {{item.size}}-{{item.color}}
                            .col-lg-2.col-12 NT$ {{item.price}}
                            .col-lg-2.col-12
                                span.countBtn(@click="handleSub(item)")
                                    i.bi.bi-dash-circle
                                span.num {{item.num}}
                                span.countBtn(@click="handlePlus(item)")  
                                    i.bi.bi-plus-circle
                            .col-lg-2.col-md-2.col-12.myProductListTotal NT$ {{item.price * item.num}}
                        .col-lg-2.col-4
                            a.btn.likePageBtn.addBtn(href="#") 加入購物車
                            a.btn.likePageBtn.deleteBtn(href="#", @click="handledelete(index)") 刪除
            //<!------------------------- 這是頁面點選！-------------------------
            .clickPageWrap.col-12.pe-4
                nav.clickPage(aria-label="Page navigation example")
                    ul.pagination
                        li.page-item
                            a.page-link(href="#", aria-label="Previous")
                                span(aria-hidden="true") «
                        li.page-item
                            a.page-link(href="#") 1
                        li.page-item
                            a.page-link(href="#") 2
                        li.page-item
                            a.page-link(href="#") 3
                        li.page-item
                            a.page-link(href="#", aria-label="Next")
                                span(aria-hidden="true") »                   
    script(src="https://cdn.jsdelivr.net/npm/vue@2.6.14")
    script.
        new Vue({
            el: '.vueTemplate',
            data(){
                return{
                    listData: [{
                    pic: '../../../assets/product/product11.jpg',
                    productName: '克里夫蘭感恩紀念T',
                    size: 'M',
                    color: '紅色',
                    price: '680',
                    num: '2',
                }, {
                    pic: '../../../assets/product/product12.jpg',
                    productName: '帥氣t',
                    size: 'L',
                    color: '藍色',
                    price: '880',
                    num: '3',
                }]
                }
            },
            methods: {
                //讓他可以被加1
                handlePlus: function (item) {
                    item.num++;
                },
                //讓他大於1時可以被減少
                handleSub: function (item) {
                    if (item.num > 1) {
                        item.num--;
                    }
                },
                //讓他可以刪除
                handledelete: function (index) {
                    this.listData.splice(index, 1);
                }
            }
        })
     //click btn alert
        let add = document.getElementsByClassName('addBtn');
        Object.keys(add).forEach((key) => {
            let target = add[key];
            target.addEventListener('click', () => {
               swal("你已加入購物車", "Add to cart thank!!", "success");
            })
        })

        let del = document.getElementsByClassName('deleteBtn');
        Object.keys(del).forEach((key) => {
            let target = del[key];
            target.addEventListener('click', () => {
               swal("你已刪除商品", "You have deleted the product thank!!", "success");
            })
        })
